/* application css */
body {margin:0px;}
#main {font-size:200%;}
.hl0 {color:red;}
/* .p {background:lightgreen;border-radius:25px;color:black;} */
.tag {background:pink;border-radius: 20%;color:black;}

 /*.standoff {border-radius: 20px;background:lightblue;font-family: DFKai-SB;color:black;}*/
.standoff {font-family: DFKai-SB;color:lightblue;}
/*;border-radius: 25px;background:#303030*/
.source {font-family: DFKai-SB;color:green}
.comment {color:brown;background:lightblue;border-radius: 25%}
.comment_u1 {border:green 1px solid;border-radius: 10;}
.comment_u2 {border:yellow 1px solid;border-radius: 10;}

.br_u1 {color:green;}
.br_u2 {color:yellow;}
.h1 {font-size:150%;}
.h2 {font-size:125%;}
.kepan_error {background-color:red}
.kepan {border-top-left-radius: 10px;color:black;}
.kepan1 {background-color:#ff7f00;}
.kepan2 {background-color:#ffff00;}
.kepan3 {background-color:#7fff00;}
.kepan4 {background-color:#00ff00;}
.kepan5 {background-color:#00ff7f;}
.kepan6 {background-color:#00ffff;}
.kepan7 {background-color:#007fff;}
.kepan8 {background-color:#0000ff;}
.kepan9 {background-color:#7f00ff;}
.kepan10 {background-color:#ff00ff;}
.kepan11 {background-color:#ff007f;}

.kepan12 {background-color:#7f0000;}